*{
    margin: 0%;
    padding: 0;
}
body{
    background-color: rgb(104, 201, 201);
    text-align: center;

}
.container{
height: 70vh;
display: flex;
justify-content: center;
align-items: center;

}
.game{
height: 60vmin;
width: 60vmin;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem  rgba(0, 0,0,0.1);
    font-size: 8vmin;
    text-align: center;
    background-color: rgb(165, 220, 240);
}
#reset-btn{
    height: 5vmin;
    width: 10vmin;
    border-radius: 0.2rem;
    border: none;
    font-size: 1.5vmin;
    background-color: gray;
}
#new-btn{
    height: 5vmin;
    width: 10vmin;
    border-radius: 0.2rem;
    border: none;
    font-size: 1.5vmin;
    background-color: gray;

}
#msg{
    color: beige;
    font-size: 5vmin;
}
.msg-container{
height: 30vmin;
}
.hide{
    display: none;
}